/**
 * /* Navbar
 *
 * @format
 */

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
	font-size: 36px;
	color: #f5a623;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #f5a623;
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
}
/*  */

/* Header */
.header .header-title {
	font-size: 2.625rem;
	line-height: 1.5;
}

.header .btn-email {
	transition: 0.3s;
}

.header .btn-linkedin {
	transition: 0.3s;
}

.header .btn-instagram {
	transition: 0.3s;
}

.header .btn-github {
	transition: 0.3s;
}

.header .btn-cv {
	transition: 0.3s;
}

.header .btn-email:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.header .btn-linkedin:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.header .btn-instagram:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.header .btn-github:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.header .btn-cv:hover {
	transition: 0.3s;
	color: white;
}

.header .btn-cv img:hover {
	transition: 0.3s;
	color: white;
	opacity: 0.5;
}
/*  */

/* Deivider */
.roundedDivider {
	border-top: 6px solid rgba(245, 166, 35, 1);
	border-radius: 5px;
	margin-top: 150px;
}

/* Story */
.story .btn-read {
	padding: 0.75rem 3rem;
	background-color: #e7eaf5;
}

.story .img-fluid {
	max-width: 100%;
	height: auto;
}

.mainbanner-img {
	max-width: 90%;
	height: auto;
	border-radius: 300px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
/*  */

/* Footer */
footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #f9faff;
}

footer ul {
	margin-bottom: 0;
}

footer ul li a {
	transition: 0.2s;
}

footer ul li a:hover {
	color: #4d17e2;
	text-decoration: underline !important;
	background-color: transparent;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* Header */

	/*  */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	/* Navbar */
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
	/*  */

	/* Header */
	.header .underline-blue {
		text-decoration: none;
		position: relative;
	}

	.header .underline-blue:after {
		position: absolute;
		content: "";
		height: 8px;
		bottom: 11px;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 100%;
		background: #f5a623;
		z-index: -10;
	}

	.header .btn-email {
		position: relative;
		left: 38%;
	}
	.header .btn-linkedin {
		position: relative;
		left: 45%;
	}
	.header .btn-instagram {
		position: relative;
		left: 45%;
	}
	.header .btn-github {
		position: relative;
		left: 45%;
	}
	/*  */

	/* Featured Game */
	.featured-game .featured-game-card:hover .blur-sharp {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
